build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: None
  content: ''
dockerCompose: ''
TF_Content: |-
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Git_path: roost
TF_Uninstall: |-
  #!/bin/sh

  terraform init
  terraform destroy --auto-approve
lastUpdatedBy: Apoorva Singh Gangwar
lastUpdatedOn: 2023-02-28T11:06:23.057Z
