build:
  type: text
  content: |-
    #/bin/sh

    cd roost
    terraform init
    terraform apply --auto-approve
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: text
  content: |-
    #/bin/sh

    cd roost
    terraform destroy --auto-approve
dockerCompose: ''
lastUpdatedBy: Apoorva Singh Gangwar
lastUpdatedOn: 2023-02-24T10:37:26.876Z
